<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.epsi.i4.kitchenguesser" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ThingFoundActivity"
            android:label="@string/title_activity_thing_found" >
        </activity>
        <activity
            android:name=".SuccessfulGameActivity"
            android:label="@string/title_activity_successful_game" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectionThingActivity"
            android:label="@string/title_activity_selection_thing" >
        </activity>
        <activity
            android:name=".AddNewThingActivity"
            android:label="@string/title_activity_add_new_thing" >
        </activity>
    </application>

</manifest>
